@model FootballJourney.Data.Models.Run


@{
    <div class="row">
        <div class="container col-sm-5">

            <center><h1 class="sub-header">@Model.Team.Name</h1></center>

            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Points</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model.Team.Players.OrderBy(x => x.Position))
                    {
                        <tr>
                            <td>@item.Position</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Points</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div>
            <center><h1>VS</h1></center>
        </div>
        

            <div class="container col-sm-5 justify-content-end">

                <center><h1 class="sub-header">@Model.CurrentOpponent.Name</h1></center>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.CurrentOpponent.Players.OrderBy(x => x.Position))
                        {
                            <tr>
                                <td>@item.Position</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Points</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        
    </div>
}


<form asp-controller="Match" asp-action="Play" method="get">
    <button type="submit" class="btn btn-dark btn-outline-light">
        Proceed to match
    </button>
</form>
