@model FootballJourney.Data.Models.Run


@{
    var players = Model.Team.Players.ToList();
    <div>@Model.User.UserName</div>
    <div>@Model.Team.Name</div>
    <div>@Model.Stage</div>
    <br />
    @foreach (var item in players)
    {
        <div>
           @item.Position @item.LastName @item.Points
        </div>
    }

}


<form asp-controller="ManageRun" asp-action="GetNextOpponent" method="post">
    <button type="submit">
        Proceed
    </button>
</form>

<form asp-controller="ManageRun" asp-action="UpgradeTeam">
    <button type="submit">
        Upgrade your team
    </button>
</form>